{{#each this}}
  <li class='card' data-action='{{id}}'>
    <button class='card__btn' href=''></button>
    <div class='card__img'>
      <img
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}} {{name}}'
        width='100%'
        data-id='{{id}}'
      />
    </div>
    <h2 class='card__title'>{{title}} {{name}}</h2>
    <p class='card__text'>
      <span>{{#each genres}} {{name}}, {{/each}}</span>
      |
      <span>{{release_date}}</span><span
        class='card__rating'
      >{{vote_average}}</span>
    </p>
  </li>
{{/each}}