  <div class="modal">
    <button class="modal__button-close">&#215</button>
    <div class="modal__container">
      <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="movie banner" class="modal__img"></img>
    </div>
    <div class="modal__container">
      <h2 class="modal__title">{{title}}</h2>
      <div class="modal__list-container">
        <ul class="modal__list">
          <li class="modal__item">Vote/Votes</li>
          <li class="modal__item">Popularity</li>
          <li class="modal__item">Original Title</li>
          <li class="modal__item">Genre</li>
        </ul>
        <ul class="modal__list">
          <li class="modal__item-desc">
            <span class="modal__item-desc--orange">{{vote_average}}</span>
            <span class="modal__item-desc--grey">/</span>
            <span>{{vote_count}}</span>
          </li>
          <li class="modal__item-desc">{{popularity}}</li>
          <li class="modal__item-desc">{{original_title}}</li>
          <li class="modal__item-desc">{{#each genres}} {{name}} {{/each}}</li>
        </ul>
      </div>
      <h3 class="modal__title-description">About</h3>
      <p class="modal__description">
        {{overview}}
      </p>
      <div class="modal__button-container">
        <button class="modal__button" id="watched">
          <span id="watched-add">add</span>
          <span class="visibility" id="watched-delete">delete</span>  
          to Watched
        </button>
        <button class="modal__button" id="queue">
          <span id="queue-add">add</span>
          <span class="visibility" id="queue-delete">delete</span> 
          to queue
        </button>
      </div>
    </div>
  </div>
